img {
    float: left;
    margin-right: 30px;
}

h1 {
    padding: 30px 0px 15px 0px;
}
мрьпьпаь
007099999999999
div::after{
    clear: both;
    content: "";
    display: block;
    margin-bottom: 30px;
}

+++++++++++++++++++